body {
  background: black;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  margin-bottom: 0;
  padding: 8px;
  font-size: 16px;
  border: 8px solid white;
}

.content {
  background: #e3f4ff; 
  padding: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 16px solid white;
  border-left: 8px solid white;
  border-right: 8px solid white;
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  border-bottom: 8px solid white;
  border-left: 8px solid white;
  border-right: 8px solid white;
  font-size: 12px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid black;
  display: block;
  margin: 0px auto;
  padding-left: 24px;
  padding-right: 24px;
}